<div class="md-colorpicker-container">
    <div class="md-colorpicker">
        <div class="md-cp-lightness-saturation-slider"><i><b></b></i></div>
        <div class="md-cp-hue-slider" data-component="veeslider" data-option-min="0" data-option-max="359"></div>
        <div class="md-cp-alpha-slider" data-component="veeslider"></div>
        <div class="md-colorpicker-preview-bg">
            <div class="md-colorpicker-preview"></div>
        </div>
    </div>
    <div class="md-colorpicker-values">
        <div class="md-colorpicker-input-group">
            <label class="md-colorpicker-label md-colorpicker-label-rgba md-colorpicker-label-r" for="rvalue">R</label>
            <input class="md-colorpicker-input md-colorpicker-input-rgba md-colorpicker-input-r ui-corner-all" data-color-property="red" name="rvalue">
        </div>
        <div class="md-colorpicker-input-group">
            <label class="md-colorpicker-label md-colorpicker-label-rgba md-colorpicker-label-g" for="rvalue">G</label>
            <input class="md-colorpicker-input md-colorpicker-input-rgba md-colorpicker-input-g ui-corner-all" data-color-property="green" name="gvalue">
        </div>
        <div class="md-colorpicker-input-group">
            <label class="md-colorpicker-label md-colorpicker-label-rgba md-colorpicker-label-b" for="rvalue">B</label>
            <input class="md-colorpicker-input md-colorpicker-input-rgba md-colorpicker-input-b ui-corner-all" data-color-property="blue" name="bvalue">
        </div>
        <div class="md-colorpicker-input-group">
            <label class="md-colorpicker-label md-colorpicker-label-rgba md-colorpicker-label-a" for="rvalue">A</label>
            <input class="md-colorpicker-input md-colorpicker-input-rgba md-colorpicker-input-a ui-corner-all" data-color-property="alpha" name="avalue">
        </div>
        <input class="md-colorpicker-input md-colorpicker-input-value ui-corner-all" data-color-property="value" name="color-value">
    </div>
    <div class="md-colorpicker-presets">
        <div class="md-cp-presets-row"></div>
        <div class="md-cp-presets-row"></div>
    </div>
</div>