<style>
    .black-bg {
        background: black;
    }
    .triangle {
        margin: 1em;
    }
</style>
<p>Triangle Component Visual Test</p>
<div class="triangle" data-component="triangle"></div>
<div class="triangle" data-component="triangle" data-option-color="white" data-option-class="black-bg"></div>
<div class="triangle" data-component="triangle" data-option-color="blue" data-option-direction="e"></div>
<div class="triangle" data-component="triangle" data-option-direction="w"></div>
<div class="triangle" data-component="triangle" data-option-direction="ew"></div>
<div class="triangle" data-component="triangle" data-option-direction="n"></div>
<div class="triangle" data-component="triangle" data-option-direction="s"></div>
<div class="triangle" data-component="triangle" data-option-direction="ns"></div>
<div class="triangle" data-component="triangle" data-option-width="12" data-option-height="12" data-option-direction="n"></div>