<div class="md-gradient-colorpicker" data-component="colorpicker"></div>
<div class="md-gradient-slider">
    <div class="gradient-color-stop">
        <div class="gradient-color-stop-pointer"
            data-component="triangle"
            data-option-direction="n"
            data-option-color="#333"
            data-option-width="12"
            data-option-height="6"></div>
        <div class="gradient-color-stop-color"></div>
        <div class="gradient-color-stop-bg"></div>
    </div>
</div>